{
  "env": {
    "node": true,
    "mocha": true,
  },
  "rules": {
    "prettier/prettier": ["error", {"singleQuote": true}]
  },
  "globals": {},
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "plugins": [
    "json", "import", "import-order-autofix"
  ]
}